{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="single-post-container">
    <article class="single-post">
        <div class="post-header">
            {% if post.category %}
            <div class="post-category">{{ post.category }}</div>
            {% endif %}
            
            <h1 class="post-title">{{ post.title }}</h1>
            
            <div class="post-meta">
                <div class="author-info">
                    <div class="author-avatar"></div>
                    <span>{{ post.author.username }}</span>
                </div>
                <span>•</span>
                <time datetime="{{ post.created_at|date:'Y-m-d' }}">
                    {{ post.created_at|date:"F j, Y" }}
                </time>
            </div>
        </div>

        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>
    </article>
</div>
{% endblock %}